@use 'layout' as layout;

.skill-tag {
  margin: 5px;
  display: inline-block;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 50px;
  color: #000000;

  @media (max-width: layout.$bp-medium) {
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 3px;
    font-size: 0.9rem;
  }
}
