@import 'reset';
@import 'typography';
@import 'layout';

html,
body,
.row ul {
  margin: 0;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

* {
  &:focus-visible {
    outline-color: black;
    outline-offset: 6px;
    border-radius: 8px;
  }
}
